<div class="card" *ngIf="activity">
  <header class="card-header">
    <p class="card-header-title">
      {{ activity.name }} @ {{ activity.start_date | date:'MMM d, y, h:mm' }}
    </p>
    
  </header>
  <div class="card-image">
    <app-activity-map [activity]="activity"></app-activity-map>
  </div>
  <div class="card-content">
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Distance</p>
          <p class="subtitle">{{ activity.distance | distance }} km</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Average Speed</p>
          <p class="subtitle">{{ (1000 / activity.average_speed) * 1000 | date:'m:ss' }} m / sec</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Time</p>
          <p class="subtitle">{{ activity.moving_time * 1000 | date:'mm:ss' }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Elevation Gain</p>
          <p class="subtitle">{{activity.total_elevation_gain | number }} m</p>
        </div>
      </div>
    </nav>
  </div>
  <footer class="card-footer">
    
  </footer>
</div>
