<div class="card" *ngIf="activity">
  <header class="card-header">
    <p class="card-header-title">
      {{ activity.name }} - {{ activity.distance}}
    </p>
    <br>
    
  </header>
  <div class="card-image">
    <app-activity-map [activity]="activity"></app-activity-map>
  </div>
  <div class="card-content">

  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item">Save</a>
    <a href="#" class="card-footer-item">Edit</a>
    <a href="#" class="card-footer-item">Delete</a>
  </footer>
</div>
