<div class="card" *ngIf="data">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img class="is-rounded" src={{data.athlete.profile_medium}} alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{data.athlete.firstname}} {{data.athlete.lastname}}</p>
        <p class="subtitle is-6">{{data.athlete.city}}, {{ data.athlete.state}}, {{data.athlete.country}}</p>
      </div>
    </div>
    <hr />
    <div>
      <app-activity-summary [data]="data"></app-activity-summary>
    </div>
  </div>
</div>
