<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <span class="icon">
          <i class="fas fa-running"></i>
        </span>
      </a>


  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">

      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
              <div *ngIf="!isLoggedIn">
                <a class="button is-primary" (click)="initCodeFlow()">
                  <strong>Log In</strong>
                </a>
              </div>
              <div *ngIf="isLoggedIn">
                <a class="button is-light" (click)="logOut()">
                  Log Out
                </a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </nav>