<div class="tabs is-fullwidth is-centered" *ngIf="data">
  <ul>
    <li [ngClass]="(selectedTab==='run')?'is-active':''">
      <a (click)="switchTab('run')">
        <span class="icon is-small"><i class="fas fa-running" aria-hidden="true"></i></span>
        <span>Run</span>
      </a>
    </li>
    <li [ngClass]="(selectedTab==='ride')?'is-active':''">
      <a (click)="switchTab('ride')">
        <span class="icon is-small"><i class="fas fa-biking" aria-hidden="true"></i></span>
        <span>Ride</span>
      </a>
    </li>
  </ul>
</div>
<h5 class="title is-5 has-text-centered">All Time Statistics</h5>
<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Count</p>
      <p class="subtitle">{{allTimeDisplayData.count}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Distance</p>
      <p class="subtitle">{{allTimeDisplayData.distance | distance:0 | number }} km</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Elevation</p>
      <p class="subtitle">{{allTimeDisplayData.elevation_gain | number:'1.0-0' }} m</p>
    </div>
  </div>
</nav>

<h5 class="title is-5 has-text-centered">Recent Statistics (4 weeks)</h5>
<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Count</p>
      <p class="subtitle">{{recentDisplayData.count}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Distance</p>
      <p class="subtitle">{{recentDisplayData.distance | distance:0 | number }} km</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Elevation</p>
      <p class="subtitle">{{recentDisplayData.elevation_gain | number:'1.0-0' }} m</p>
    </div>
  </div>
</nav>
